@import url('footer.css');
@import url('nav-bar.css');
@import url('hero.css');

a {
    text-decoration: none;
    color: #333;
}

main {
    margin: 0 auto;
    color: #97989F;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    grid-gap: 2em;

    h1 {
        color: black;
        font-size: 3em;
        line-height: 1.5;
        font-style: bold;
    }

    h3 {
        color: black;
        font-size: 2.5rem;
        text-decoration: underline;
    }

    img {
        width: 100%;
        border-radius: 2em;
        margin: 2em 0;
        max-height: 600px;
    }

    article {
        margin: 2em 0;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    blockquote {
        color: darkcyan;
    }
}

@media (max-width: 768px) {


    h1 {
        font-size: 2em;
    }

    article {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 2rem;
    }


}