.footer-container {
    display: flex;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-name {
    display: flex;
}

hr {
    width: 90%;
}

.social-icon {
    width: 2em;
    height: 2em;
    margin: 5px;
}